<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Agent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="body-chat">
        <div id="chat-container">
            <div id="navbar-chat">Test Agent</div>
            <div id="chat-messages"></div>
            <div id="user-input">
                <input type="text" id="message-input" placeholder="Type your question...">
                <div class="button-send" onclick="sendMessage()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C8E6C9" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                    </svg>                  
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/session.js') }}"></script>
</body>
</html>